<h1>キャラクター一覧</h1>
<%= link_to '＋ 新規キャラクターを追加', new_character_path %>

<% @characters.each do |character| %>
  <div>
    <h2><%= link_to character.name, character_path(character) %></h2>
    <p><%= character.description %></p>
    <p>所属: <%= character.world ? "##{character.world.name}" : '未設定' %></p>
    <% if character.image_url.present? %>
      <img src="<%= character.image_url %>" alt="<%= character.name %>" width="200">
    <% end %>
  </div>
<% end %>
