<h1>キャラクターを編集</h1>

<%= form_with model: [:admin, @character], local: true do |form| %>
  <div>
    <%= form.label :name, "名前" %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :icon, "イメージマーク（Font Awesomeクラス名）" %><br>
    <%= form.text_field :icon, placeholder: "例：apple、dove、lemonなど" %>
  </div>


  <div>
    <%= form.label :description, "説明" %><br>
    <%= form.text_area :description %>
  </div>

  <div class="mb-3">
  <%= form.label :world_id, "世界観" %><br>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="worldDropdown">
      世界観を選択
    </button>
    <ul class="dropdown-menu" aria-labelledby="worldDropdown">
      <% World.all.each do |world| %>
        <li>
          <a class="dropdown-item" href="#" onclick="selectWorld('<%= world.id %>', '<%= world.name %>')">
            <%= world.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <%= form.hidden_field :world_id, id: "selectedWorldId" %>
  </div>

  <script>
  function selectWorld(id, name) {
    document.getElementById('selectedWorldId').value = id;
    document.getElementById('worldDropdown').textContent = name;
  }
  </script>

  <div>
    <%= form.label :image_url, "画像URL（任意）" %><br>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.label :color_code, "イメージカラー（カラーコード）" %><br>
    <%= form.color_field :color_code %>
  </div>

  <div>
    <%= form.label :theme_song, "イメージソング（任意）" %><br>
    <%= form.text_field :theme_song, placeholder: "曲名やYouTubeリンクなど" %>
  </div>

  <div>
    <%= form.submit "更新する" %>
  </div>
<% end %>

<%= link_to '← 詳細へ戻る', @character %>
