<h1>キャラクターを新しく作成</h1>

<%= form_with model: [:admin, @character], local: true do |form| %>
  <div>
    <%= form.label :name, "名前" %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, "説明" %><br>
    <%= form.text_area :description %>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="worldDropdown">
      世界観を選択
    </button>
    <ul class="dropdown-menu" aria-labelledby="worldDropdown">
      <% World.all.each do |world| %>
        <li>
          <a class="dropdown-item" href="#" onclick="selectWorld('<%= world.id %>', '<%= world.name %>')">
            <%= world.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= form.label :icon, "イメージマーク（Font Awesomeクラス名）" %><br>
    <%= form.text_field :icon, placeholder: "例：apple、dove、lemonなど" %>
  </div>

  <div>
    <%= form.label :image_url, "画像URL（任意）" %><br>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.label :color_code, "イメージカラー（カラーコード）" %><br>
    <%= form.color_field :color_code %>
  </div>

  <div>
    <%= form.label :theme_song, "イメージソング（任意）" %><br>
    <%= form.text_field :theme_song, placeholder: "曲名やYouTubeリンクなど" %>
  </div>

  <div>
    <%= form.label :theme_title, "イメージソングの曲名（任意）" %><br>
    <%= form.text_field :theme_title, placeholder: "例：夜に駆ける / YOASOBI" %>
  </div>


  <div>
    <%= form.submit "作成" %>
  </div>
<% end %>

<%= link_to '← 一覧に戻る', admin_characters_path %>
